<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tian.springmvcmybatis.dao.mapper.ImageMapper" >
  <resultMap id="BaseResultMap" type="com.tian.springmvcmybatis.dao.entity.Image" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="DATA_ID" property="dataId" jdbcType="BIGINT" />
    <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
    <result column="EXTEND_TYPE" property="extendType" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DATA_ID, TABLE_NAME, EXTEND_TYPE, URL, CREATE_TIME, UPDATE_TIME, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from image
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from image
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tian.springmvcmybatis.dao.entity.Image" >
    insert into image (ID, DATA_ID, TABLE_NAME, 
      EXTEND_TYPE, URL, CREATE_TIME, 
      UPDATE_TIME, STATUS)
    values (#{id,jdbcType=BIGINT}, #{dataId,jdbcType=BIGINT}, #{tableName,jdbcType=VARCHAR}, 
      #{extendType,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tian.springmvcmybatis.dao.entity.Image" >
    insert into image
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dataId != null" >
        DATA_ID,
      </if>
      <if test="tableName != null" >
        TABLE_NAME,
      </if>
      <if test="extendType != null" >
        EXTEND_TYPE,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dataId != null" >
        #{dataId,jdbcType=BIGINT},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="extendType != null" >
        #{extendType,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tian.springmvcmybatis.dao.entity.Image" >
    update image
    <set >
      <if test="dataId != null" >
        DATA_ID = #{dataId,jdbcType=BIGINT},
      </if>
      <if test="tableName != null" >
        TABLE_NAME = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="extendType != null" >
        EXTEND_TYPE = #{extendType,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tian.springmvcmybatis.dao.entity.Image" >
    update image
    set DATA_ID = #{dataId,jdbcType=BIGINT},
      TABLE_NAME = #{tableName,jdbcType=VARCHAR},
      EXTEND_TYPE = #{extendType,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>

</mapper>