<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tian.springmvcmybatis.dao.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.tian.springmvcmybatis.dao.entity.Order" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="THIRD_ORDER_ID" property="thirdOrderId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="TOTAL_AMOUNT" property="totalAmount" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, THIRD_ORDER_ID, USER_ID, TOTAL_AMOUNT, REMARK, ORDER_STATUS, CREATE_TIME, UPDATE_TIME, 
    STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tian.springmvcmybatis.dao.entity.Order" >
    insert into order (ID, THIRD_ORDER_ID, USER_ID, 
      TOTAL_AMOUNT, REMARK, ORDER_STATUS, 
      CREATE_TIME, UPDATE_TIME, STATUS
      )
    values (#{id,jdbcType=BIGINT}, #{thirdOrderId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{totalAmount,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{orderStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tian.springmvcmybatis.dao.entity.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="thirdOrderId != null" >
        THIRD_ORDER_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="totalAmount != null" >
        TOTAL_AMOUNT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="thirdOrderId != null" >
        #{thirdOrderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tian.springmvcmybatis.dao.entity.Order" >
    update order
    <set >
      <if test="thirdOrderId != null" >
        THIRD_ORDER_ID = #{thirdOrderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="totalAmount != null" >
        TOTAL_AMOUNT = #{totalAmount,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tian.springmvcmybatis.dao.entity.Order" >
    update order
    set THIRD_ORDER_ID = #{thirdOrderId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=BIGINT},
      TOTAL_AMOUNT = #{totalAmount,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      ORDER_STATUS = #{orderStatus,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryByRule" resultMap="BaseResultMap">
     SELECT <include refid="Base_Column_List"/> from `order`
     <where>
        <if test="userId != null and userId !=''">
           and USER_ID = #{userId}
        </if>
     </where>
  </select>
</mapper>